<footer>
  <section id="contact">Contact Info<br>
    1111 Test Street<br>
    Seattle, WA 98109<br>
    (888)888-8888
  </section>
<<<<<<< HEAD
</footer>
<div id="copyright"> &copy; 2019 JBLM Unlimited</div>
=======
  <a class="home2 home_link" href="/">Home</a>
  <a class="home2 resources_link" href="/resources">Resources</a>
  <a class="home2 calendar_link" href="/calendar">Calendar</a>
  

</footer>
>>>>>>> fd3408aca48bf07fce8afd43e80f5f31472a86c6
