<footer>
<section id="contact">Contact Info<br>
    1111 Test Street<br>
    Seattle, WA 98109<br>
    (888)888-8888
</section>
<a class="home2" href="/">Home</a>
<a class="home2" href="/calendar">Calendar</a>
<a class="home2" href="/resources">Resources</a><br>
<section id="footlogo">Logo</section>




</footer>