<head>
    <link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/base.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/modules.css">
</head>

<section>header</section>