<header>
    <section id="logo">Logo Goes Here</section>
    <a class="home resources_link" href="/resources">Resources</a>
    <a class="home calendar_link" href="/calendar">Calendar</a>
    <a class="home home_link" href="/">Home</a>
    <!-- change to link to Resources page. -->

</header>