<header>


    <a class="home resources_link" href="/resources">Resources</a>
    <a class="home calendar_link" href="/calendar">Calendar</a>
    <a class="home home_link" href="/">Home</a>



</header>