

<link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/layout.css">
<link rel="stylesheet" href="/styles/modules.css">

<header>
    <section id="logo">Logo Goes Here</section>
    <a class="home" href="/resources">Resources</a>
    <a class="home" href="/calendar">Calendar</a>
    <a class="home" href="/">Home</a>
    <!-- change to link to Resources page. -->

</header>