<header>
    <a id="home" href="/">Home</a>
    <a id="calendar" href="/calendar">Calendar</a>
    <!-- change to link to Resources page. -->
    <a id="calendar" href="/resources">Resources</a>

</header>