<html lang="en">

<%- include('../../partials/head') %>


<body>


  <nav>
    <%- include('../../partials/header') %>
  </nav>

  <main>
    <h4>Delete Item</h4>
    <ul>


    </ul>
    <a href="/<%= adminRoute %>">Admin Page</a>
  </main>
  <section>

  </section>


  <%- include('../../partials/footer') %>

</body>

</html>