<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <section id="header">
    <h1>JBLM Unlimited</h1>
    <a id="home2" href="/">Home</a>
    <a class="calendar3" href="/calendar">Calendar</a>
    <a id="resources5" href="/resources">Resources</a>
  </section>


  <h2 id="admin">Administration Page </h2>
  <main>
    <form action="<%= `/${adminRoute}/resource/new` %>" method="post">
      <!-- TODO: MAKE DESCRIPTION BOX BIGGER; HAVE FORM SUBMISSION SEND TO DATABASE AND THEN RENDER TO RESOURCES.EJS -->
      <!-- Check for demo code seattle-301d51/class-13/demo/views/pages/add-view.ejs 
        - Also check class-11/demos/forms/public/index.html for a better way to do labels.
        - Use textarea element for description.
      -->
      <fieldset>
        <legend>Add a Resource</legend>
        <label for="title">
          <span>Resource Title</span>
          <input type="text" name="title" value="" required>
        </label>
        <label for="description">
          <span>Description</span>
          <input type="text" name="description" value="" style="height:30px;" required>
        </label>
        <label for="resource_url">
          <span>Resource URL</span>
          <input type="url" name="resource_url" value="">
        </label>
      </fieldset>
      <button type="submit">Add this resource</button>
    </form>


  </main>
<<<<<<< HEAD
  
  <%- include('../partials/footer') %>
=======

  <div id="copyright2"> &copy; 2019 JBLM Unlimited</div>
>>>>>>> 3453f2373befb7e3c6bd1c9958b0d9a673994bdc

</body>

</html>