<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
    <section id="header">
        <h1>JBLM Unlimited</h1>
        <a id="home2" href="/">Home</a>
        <a class="calendar3" href="/calendar">Calendar</a>
        <a id="resources5" href="/resources">Resources</a>
      </section>
  <h2 id="admin">Administration Page </h2>
  <main>
      <form action="<%= `${adminRoute}/resource/new` %>" method='post'>
        <!-- TODO: MAKE DESCRIPTION BOX BIGGER; HAVE FORM SUBMISSION SEND TO DATABASE AND THEN RENDER TO RESOURCES.EJS -->
        <fieldset>
          <label for="title">
            <span>Resource Title</span>
            <input type="text" value="" required>
          </label>
          <label for="description">
            <span>Description</span>
            <input type="text" name="search" value="" style= "height:30px;" required>
          </label>
          <label for="resource_url">
                <span>Resource URL</span>
                <input type="url" name="search" value="" required>
          </label>
        </fieldset>
        <button type="submit">Add this resource</button>
      </form>


  </main>
  
    <div id="copyright"> &copy; 2019 JBLM Unlimited</div>
    
</body>

</html>