<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


<body>





  <main>
      <nav>
          <%- include('../partials/header') %>
     
        </nav>  
      </main>
  

      <iframe src="https://calendar.google.com/calendar/b/2/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=a2FhcHBya0BnbWFpbC5jb20&amp;src=YXBjdmE4YXQyMTJ0NG5saW9lbGUzOGowdDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%237CB342&amp;color=%230B8043" style="border-width:0" width="1000" height="700" frameborder="0" scrolling="no"></iframe>

       



  
 


  <%- include('../partials/footer') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $('.calendar_link').hide();
  </script>

</body>

</html>