<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


<body>




    <section id="header">
        <h1>JBLM Unlimited</h1>
        <a id="calendar2" href="/">Home</a>
          <a id="resources2" href="/resources">Resources</a>
        
        
        
        </section>
        
      



<!-- 
  <main>
      <nav>
          <%- include('../partials/header') %>
     
        </nav>  
      </main> -->
  

      <iframe src="https://calendar.google.com/calendar/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=amJsbXVubGltaXRlZEBnbWFpbC5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043&amp;showTitle=0&amp;showPrint=0&amp;showTz=0&amp;showCalendars=0" style="border-width:0" width="1000" height="700" frameborder="0" scrolling="no"></iframe>

       



  
 


  <%- include('../partials/footer') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $('.calendar_link').hide();
  </script>

</body>

</html>