<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>


<body>
  <%- include('../partials/header') %>



  
  <main>
    <h4>Home Page</h4>
    <a id="calendar" href="/pages/calendar.ejs">Calendar</a>
    <!-- change to link to Resources page. -->
    <a id="calendar" href="/pages/calendar.ejs">Resources</a>


  </main>
  <section>
    
  </section>
 

  <%- include('../partials/footer') %>

</body>

</html>