<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<%- include('../partials/head') %>


<body>


  <section id="header">
    <h1>JBLM Unlimited</h1>
    <a class="calendar" href="/calendar">Calendar</a>
    <a class="resources" href="/resources">Resources</a>
  </section>


  <div id="slideshow">
    <div>
      <img src="/assets/Hawk1.jpg">
    </div>

    <div>
      <img src="/assets/Hawk2.jpg">
    </div>
    <div>
      <img src="/assets/Hawk3.jpg">
    </div>
    <div>
      <img src="/assets/Hawk4.jpg">
    </div>
    <div>
      <img src="/assets/Hawk5.jpg">
    </div>
    <div>
      <img src="/assets/Hawk6.jpg">
    </div>
    <div>
      <img src="/assets/Hawk7.jpg">
    </div>
    <div>
      <img src="/assets/Hawk8.jpg">
    </div>
    <div>
      <img src="/assets/Hawk9.jpg">
    </div>
    <div>
      <img src="/assets/Hawk10.jpg">
    </div>
    <div>
      <img src="/assets/Hawk11.jpg">
    </div>
    <div>
      <img src="/assets/Hawk12.jpg">
    </div>
    <div>
      <img src="/assets/Hawk13.jpg">
    </div>


  </div>





  <section id="icons">

    <!-- Image from: https://www.facebook.com/ -->
    <a href="https://www.facebook.com/JBLewisMcChord/?ref=nf" target=" "><img id="fbicon" src="/assets/download.png"
        alt="facebook link"></a>

    <!-- Icon from https://www.trzcacak.rs/imgb/hRRmbiw/ -->
    <a href="https://www.instagram.com/jblmdpfr" target=" "><img id="instaicon" src="/assets/instatest.png"
        alt="instagram link"></a>

    <!-- Icon from: https://apps.apple.com/us/app/twitter/id333903271 -->
    <a href="https://twitter.com/jblmdpfr?lang=en" target=" "><img id="twicon" src="/assets/twitter.jpg"
        alt="twitter link"></a>

    <!-- Image from: https://www.linkedin.com/company/linkedin -->
    <a href="" target=" "><img id="linkicon" src="/assets/linkedin.jpg" alt="linkedin link"></a>



    <!-- Image from: https://icon-library.net/icon/email-icon-jpg-23.html -->
    <a href="/email" target=" "><img id="emailicon" src="/assets/email.jpg" alt="email link"></a>
  </section>



  <!-- <section id="top5">Top 5 Goes Here</section> -->
  <%- include('../partials/upcoming') %>

  <div id="news">



    <ol>
      <li>News Placeholder # 1</li><br>
      <li>News Placeholder # 2</li><br>
      <li>News Placeholder # 3</li><br>
      <li>News Placeholder # 4</li><br>
      <li>News Placeholder # 5</li>
    </ol>


  </div>



  <%- include('../partials/footer') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/index.js"></script>
  <!-- <script>
    $('.home_link').hide();
  </script> -->
</body>

</html>