<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <h4>JBLM Calendar</h4>
  </main>
  <section>

  </section>
  <%- include('../partials/footer') %>
</body>

</html>