<html lang="en">

<%- include('../partials/head') %>


<body>





  <main>

      <nav>
          <%- include('../partials/header') %>
     
        </nav>
    <h4>Resources Page</h4>
    


  </main>
  <section>

  </section>


  <%- include('../partials/footer') %>

</body>

</html>
