
body{
    background: white;
}


/* calendar */
iframe{
    margin-left: 25vh;
    margin-top: 2em;
    /* margin-bottom: 2em; */


}




#top5{
    margin: 10px 50px 10px 50px;
    border:2px solid red;
    /* display: inline; */
    padding: 5px;
}


#news{
    margin: 0 auto;
    width: 100px;
}






#fbicon{
    width:51px;
    height:51px;
    float: right;
    margin-right:.5em;
    /* margin-right: 5px; */
    border-radius: 6px;
    /* margin-bottom: 10em; */
    /* margin-left: 5px; */
}

#linkicon{
    width:52px;
    border-radius: 7px;
    height:52px;
    margin-right: .5em;
    float: right;

    
}

#emailicon{
    width:52px;
    height:52px;
    /* margin-right: 2px; */
    border-radius: 9px;
    float: right;


}

#twicon{
    width:52px;
    height:52px;
    border-radius: 5px;
    margin-right: .5em;
    float: right;


}

#instaicon{
    width: 54px;
    height: 54px;
    margin-right: .5em;
    margin-top: 2px;
    border-radius: 16px;
    float: right;


}


/* #calendar{
    width:100px;
} */




#slideshow {
    /* z-index: -1; */
    /* margin-bottom:5em; */
    /* margin-left: -.61em; */
    /* margin: 80px auto; */
    
    
/*     
    position: relative;
    width: auto;*/
    
    
    /* padding: 10px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
    
    /* Elle fixing aspect ratio  found here: https://www.geeksforgeeks.org/maintain-the-aspect-ratio-of-a-div-with-css/ */
    position: relative; 
        width: 100%; 
        padding-top: 56.25%; /* 16:9 Aspect Ratio */ 
    
  }
  
  #slideshow > div {
      width: 100%;
      /* height: 100%; */
          height: 40em; 

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    /* bottom: 10px; */
  }

    
  #slideshow > div > img {
    width: 100%;
    height: 100%;
}





