/* copyright in the footer */
#copyright{
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 3em;
    line-height: 3em;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}



/* background from: https://www.duda.co/blog/11-tips-designing-great-website-headers/ */
#header{
    background:linear-gradient(218.02deg, rgb(8, 33, 255) 0%,rgb(255, 255, 255), rgb(255, 39, 1) 90%);
    height: 6em;
}



.calendar{
    color:white;
    /* float: right; */
    text-decoration: underline;
    margin-right: 2em;
    margin-left: 50em;
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
}

.resources{
    color:white;
    /* float: right; */
    text-decoration: underline;
    margin-right: 2em;
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    /* right: 1em; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
    
}

.resources:hover{
color: black;
}

.calendar:hover{
    color:black;
}


h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}





/* footer */
footer{
    background:linear-gradient(218.02deg, rgb(8, 33, 255) 0%,rgb(255, 255, 255), rgb(240, 39, 4) 90%);
    margin-top: 3em;
    height: 70px;
    /* position: fixed; */
    /* bottom: 10em; */
    width: 100%;

}
/* contact info in footer */
.contact{
    color: white;
    float: left;
    height: 25px;
    /* margin-top:.25em; */
    margin-top: .25em;
    margin-left: .25em;
    /* margin-bottom: 1em; */


    /* margin-right:-15em; */

}

/* home tab on calendar page  */
#home2{
    color:white;
    /* float: right; */
    text-decoration: underline;
    margin-right: 2em;
    margin-left: 50em;
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
}

#resources2{
    color:white;
    /* float: right; */
    text-decoration: underline;
    margin-right: 2em;
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    /* right: 1em; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
    
}

#resources2:hover{
color: black;
}

#home2:hover{
    color:black;
}



.calendar3{
    color:white;
    /* float: right; */
    text-decoration: underline;
    margin-right: 2em;
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
}

.calendar3:hover{
    color:black;
}

.home3{
    color:white;
    /* float: right; */
    text-decoration: underline;
    margin-right: 2em;
    margin-left: 50em;
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
}

.home3:hover{
    color:black;
}

#resources5{
    color:white;
    /* float: right; */
    text-decoration: underline;
    /* margin-right: 2em; */
    line-height: 6em;
    /* position: absolute;  */
    display: inline;
    /* right: 1em; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    /* opacity: .5; */
    
}

#resources5:hover{
color: black;
}




#admin{
    text-align: center;
    margin-top:1em;
    margin-bottom: 2em;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}


form{
    text-align: center;
}

legend{
    margin-bottom: .75em;
}

button{
    margin-top: 1em;
    margin-left: 50em;
    margin-bottom: 30em;
}



h4{
    text-align: center;
    margin-top:.75em;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.rr{
    margin-left: 5em;
    /* margin-right: 5em; */
}

.rt{
    margin-top:5em;
    /* margin-right: 5em; */

}

.dt{
    margin-right: 5em;
}

#pdf{
    margin-left: 1em;
}



